<h2>Mensaje generado desde la página los colonos (no responder)</h2>
<p style="margin: 0; padding: 1rem 0 0.5rem 0;">Nombre: <strong>{{ name }}</strong></p>
<p style="margin: 0; padding: 0;">Correo: <strong>{{ email }}</strong></p>

<div style="border: solid 1px gray; border-radius: 0.2rem; padding: 0 1rem; margin: 0.5rem 0;">
  <p>{{ message }}</p>
</div>
